@charset "utf-8";
@font-face {
    font-family:'CAC_champagne' ;
    src: url('cac_champagne.ttf');
 }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    background-color: white;
}

/* Style the header */

img {
    width: 100%;

}

/* Container for flexboxes */
section {
    display: block;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding-left: 2px;
    overflow: hidden;
    background-color: #333;
    margin-top:0px;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.menu li {
    float:left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
}

.menu li b {
    font-size: 30px;
    font-weight:bold;
    font-family: CAC_champagne;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    padding-right: 30px;
    text-decoration: none;
}

.menu a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color:#4caf50;
}

/* Style the navigation menu */

    /* Style the list inside the menu */
    .navigation>ul {
        list-style-type: none;
        margin-top: 60px;
        margin-left: 0;
        padding: 0;
        width:15% ;
        background-color:white;
        position: fixed;
        height: 100%;
        overflow: auto;
    }

    .navigation li a {
        display: block;
        color: green;
        padding-top: 7%;
        padding-bottom: 7%;
        padding-left:8% ;
        font-weight:700;
        text-decoration: none;
    }
    .navigation .groupID li a {
        display: block;
        color: green;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left:15% ;
        font-weight:500;
        text-decoration: none;
    }

        .navigation li a.active {
            background-color: #46FEF6;
            color: black;
        }

        .navigation li a:hover:not(.active) {
            background-color: #669CFC;
            color: white;
        }
        .navigation li b.active {
            background-color: #46FEF6;
            color: black;
        }

        .navigation li b:hover:not(.active) {
            background-color: #669CFC;
            color: white;
        }

/* Style the content */
article {
    display: block;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    margin-top:0px;
    margin-left: 15%;
    background-color:gainsboro;
}

.BeijingDuck {
    display: inline-block;
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 45%;
    width: 26%;
    margin-left: 25px;
}
.BeijingDuck .text{
    margin-bottom: 10px;
    border-style: dotted;
    border-radius: 30px;
    border-color: antiquewhite;
}
.BeijingDuck .text>h1{
    font-family: 'Courier New', Courier, monospace;
    margin-top:10px ;
    text-align: center;
    font-size: 40px;
    color: green;
    margin-bottom: 10px;
}
.BeijingDuck .text>p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
    text-indent: 1em;
    font-size: 23px;
    line-height: 30px;
    margin-left: 5px;
}
.BeijingDuck img{
    margin-top: 20px;
    width: 90%;
    margin-left: 20px;
}
.WuhanReganmian{
    display: inline-block;
    width: 33%;
    margin-left: 15px;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.WuhanReganmian .text{
    border-style: dotted;
    border-radius: 30px;
    border-color: antiquewhite;
}
.WuhanReganmian .text>h1{
    font-family: 'Courier New', Courier, monospace;
    margin-top:5px ;
    text-align: center;
    font-size: 40px;
    color: green;
}
.WuhanReganmian .text>p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
    text-indent: 1em;
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.WuhanReganmian img{
    width: 86%;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-top: 10px;
}
.ChongqingSuanlafen{
    display: inline-block;
    margin-top: 30px;
    width: 34%;
    margin-bottom: 20px;
    margin-left: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.ChongqingSuanlafen .text{
    border-style: dotted;
    border-radius: 30px;
    border-color: antiquewhite;
}
.ChongqingSuanlafen .text>h1{
    font-family: 'Courier New', Courier, monospace;
    margin-top:10px ;
    text-align: center;
    font-size: 40px;
    color: green;
}
.ChongqingSuanlafen .text>p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
    text-indent: 1em;
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.ChongqingSuanlafen img{
    width: 83%;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 5px;
}
.Jianbingguozi{
    padding: 40px 10px;
}
.Jianbingguozi .text {
    display: block;
    width: 50%;
    float: left;
    border-radius:30px;
    border-style: dashed;
    border-color: antiquewhite;
    margin: 30px 20px;
    padding: 40px 10px;
}
.Jianbingguozi .text h1{
    font-family: 'Courier New', Courier, monospace;
    margin-top:20px ;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    color: green;
    height: 30px;
}
.Jianbingguozi .text p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
    text-indent: 2em;
    font-size: 23px;
    line-height: 30px;
}
.Jianbingguozi .text>ul>li{
    list-style-type: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
    text-indent: 4em;
    font-size: 23px;
    line-height: 30px;
}
.Jianbingguozi img{

    margin: 60px 10px;
    width: 45%;
}
.ChongqingHuoguo{
    padding: 40px 10px;
    display: block;
    margin: 40px;
}
.ChongqingHuoguo img{
    margin-top: 60px ;
    margin-bottom: 50px;
    width: 47%;   
}
.ChongqingHuoguo .text {
    display: block;
    width: 50%;
    float:right;
    border-radius:30px;
    border-style: dashed;
    border-color: antiquewhite;
    margin: 30px 15px;
    padding: 40px 10px;
}
.ChongqingHuoguo .text h1{
    font-family: 'Courier New', Courier, monospace;
    margin-top:20px ;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    color: green;
    height: 30px;
}
.ChongqingHuoguo .text p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
    text-indent: 2em;
    font-size: 23px;
    line-height: 30px;
}
.contact {
    padding: 40px;
    background-color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 2em;
    font-size: 20px;
    line-height: 30px;
    border-radius: 30px;
    border-style:dashed;
    border-color: aquamarine ;
}
article div p a{
    text-decoration: none;
    overflow: hidden;
    color:green;
}
article div p a:hover{
    color:yellow;
}
footer{
    margin-left: 15%;
    text-align: center;
    color:white;
    background-color: black;
}
footer>a{

    text-decoration: none;
    overflow: hidden;
    color:green;
}
footer>a:hover{
   
    color:yellow;
}
